.history-card{

    background:white;

    margin-top:30px;

    padding:25px;

    border-radius:20px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.history-item{

    padding:15px;

    border-bottom:1px solid #eee;

}

.history-item:last-child{

    border-bottom:none;

}

.history-item h3{

    color:#4f46e5;

}